<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>FSE Chatroom</title>
  </head>
  <body>
    <h1>Welcome to the FSE Chatroom</h1>
    <button>Logout</button>
  </body>
</html>
