body {
    font-size: 18px;
}

.login-grid {
    display: grid;
    height: 300px;
    width: 100%;
    grid-template: 40% 53% 7% / 1fr;
    gap: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    font-size: 18px;
}

.inputs input {
    border: 0.5px solid black;
}

.buttons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    border: 0.5px solid black;
    border-radius: 3px;
    background-color: #C7E0F9;
    font-size: 16px;
    cursor: pointer;
}